[submodule "src/tesseract_ros"]
	path = src/tesseract_ros
	url = git@github.com:BigAI-Robotics/tesseract_ros.git
	shallow = true
[submodule "src/KMeansRex"]
	path = src/KMeansRex
	url = git@github.com:BigAI-Robotics/KMeansRex.git
[submodule "src/env_description"]
	path = src/env_description
	url = https://github.com/zyjiao4728/env_description.git
[submodule "src/vicon_bridge"]
	path = src/vicon_bridge
	url = https://github.com/OliverWu1996/vicon_bridge.git
