<launch>
  <arg name="config" default="$(optenv DINGO_CONFIG base)" />

  <param name="robot_description"
         command="$(find dingo_description)/scripts/env_run
                  $(find dingo_description)/urdf/configs/$(arg config)
                  $(find xacro)/xacro $(find dingo_description)/urdf/dingo.urdf.xacro" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
