<?xml version="1.0"?>
<robot name="shapes">
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.8" radius="0.5"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.5 -0.5 0.5"/>
      <material name="white"/>
    </visual>

    <visual>
      <geometry>
        <sphere radius="0.5"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 -0.5 0.5"/>
      <material name="white"/>
    </visual>

    <visual>
      <geometry>
        <box size="0.8 0.8 0.8"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 0.5 0.5"/>
      <material name="white"/>
    </visual>

    <visual>
      <geometry>
        <sphere radius="0.5"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.5 0.5 0.5"/>
      <material name="white"/>
    </visual>

    <visual>
      <geometry>
        <sphere radius="0.5"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.5 -0.5 1.5"/>
      <material name="white"/>
    </visual>

    <visual>
      <geometry>
        <cylinder length="0.8" radius="0.5"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 -0.5 1.5"/>
      <material name="white"/>
    </visual>

    <visual>
      <geometry>
        <sphere radius="0.5"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 0.5 1.5"/>
      <material name="white"/>
    </visual>

    <visual>
      <geometry>
        <box size="0.8 0.8 0.8"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.5 0.5 1.5"/>
      <material name="white"/>
    </visual>
  </link>
</robot>
