<?xml version="1.0"?>
<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="env_description" default="env_description"/>
  <arg name="interactive_description" default="interactive_description"/>
  <arg name="end_effector_link" default="ur_arm_ee_link"/>


  <arg name="plotting" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="steps" default="30"/>
  <arg name="niter" default="500"/>

  <arg name="husky_locx" default="0.0"/>
  <arg name="husky_locy" default="0.0"/>
  <arg name="husky_orient" default="0.0"/>

  <!-- Load universal environment description format (URDF) -->
  <param name="$(arg env_description)" command="$(find xacro)/xacro '$(find vkc_example)/env/vkc_demo.urdf.xacro' husky_locx:=$(arg husky_locx) husky_locy:=$(arg husky_locy) husky_orient:=$(arg husky_orient)" />
  <param name="$(arg interactive_description)" command="$(find xacro)/xacro '$(find scene_builder)/output/vkc_demo/main.xacro'" />

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg env_description)_semantic" textfile="$(find vkc_demo)/config/scene.srdf" />

  <param name="end_effector_link" type="str" value="$(arg end_effector_link)"/>

  <!-- If needed, broadcast static tf for robot root -->
  <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world base_link 100" />

  <node pkg="vkc_example" type="vkc_example_urdf_scene_env_node" name="urdf_scene_env_node" output="screen">
    <param name="plotting" type="bool" value="$(arg plotting)"/>
    <param name="rviz" type="bool" value="$(arg rviz)"/>
    <param name="steps" type="int" value="$(arg steps)"/>
    <param name="niter" type="int" value="$(arg niter)"/>
  </node>

  <!-- Launch visualization -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="vkc_example_arena_env_rviz" args="-d $(find vkc_example)/config/env.rviz" output="screen"  />
</launch>
