<?xml version="1.0"?>
<launch>
  <!-- Load the URDF into the ROS Parameter Server -->	
  <param name="robot_description" textfile="$(find rviz_lighting)/urdf/rviz_lighting.urdf"/>

  <!-- launch rviz with a config file -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen"
      args="-d $(find rviz_lighting)/config/rviz_lighting.rviz" />
</launch>
